
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row homeRow">
    <div class="col-md-2"></div>

    <div class="col-md-5">
        <div class="homeSliderSquare">
            <div class="myPanel">
                <div class="myPanelHead">Skontaktuj się z nami:</div>
                <div class="myPanelBody">
                    tel: 517 827 306<br/>
                    mail: zespoltytanik@gmail.com
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="homeSliderSquare">
            <img src="~/images/AndrzejR.jpg" />
            <div class="peopleDescribe">
                Andrzej<br />-Manager-
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
</div>