
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homeRow">
    <div class="row">
        <div class="col-md-6">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/vwBNnN7JnlE" class="videoWrapper-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/zyx7baSpglY" class="videoWrapper-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/AUragVr7IGs" class="videoWrapper-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/3OVBugQ5ThU" allowfullscreen></iframe>
                    @*<iframe class="videoWrapper-item" src="https://www.youtube.com/embed/JFXage10kZk" allowfullscreen></iframe>*@
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/zwuFZArmbLw" class="videoWrapper-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/K0VvEkO1cdA" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/xA4AeQXiEg8" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/eII4u_4OldU" class="videoWrapper-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/bQ2kbBt3LnI" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/yKlZQ_CBfPk" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/jPVSMGRrl7M" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/4RxR5V4qqj0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/ECpC8tzqf04" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homeSliderSquare">
                <div class="videoWrapper">
                    <iframe class="videoWrapper-item" src="https://www.youtube.com/embed/0yv81OdB5_g" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="myPanel">
                <div class="myPanelHead">Więcej nagrań znajdziesz na naszym kanale youtube:</div>
                <div class="myPanelBody">
                    @*<iframe src="https://www.youtube.com/embed?listType=user_uploads&list=UCNdGDJR8zAqnexNUb4g9WjQ" class="videoWrapper-item"></iframe>*@

                    <div style="width: 105px; height: 142px; margin : 0 auto;">
                        <a href="https://www.youtube.com/channel/UCNdGDJR8zAqnexNUb4g9WjQ" target="_blank">
                            <div class="yt">
                                <i class="fa fa-youtube" style="font-size:88px; color:white;padding-top: 20px;"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>