@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row homeRow"  style="align-items: center !important">
        <div class="homeSliderSquare2">
            <img src="~/images/AndrzejR.jpg" />
            <div class="peopleDescribe">
                Andrzej<br />-Manager-
            </div>
        </div>

        <div class="homeSliderSquare2">
            <img src="~/images/MonikaR.jpg" />
            <div class="peopleDescribe">
                Monika<br />-Wokal-
            </div>
        </div>

        <div class="homeSliderSquare2">
            <img src="~/images/WaldekR.jpg" />
            <div class="peopleDescribe">
                Waldek<br />-Akordeon-
            </div>
        </div>

        <div class="homeSliderSquare2">
            <img src="~/images/AnetaR.jpg" />
            <div class="peopleDescribe">
                Aneta<br />-Altówka, Wokal-
            </div>
        </div>

        <div class="homeSliderSquare2">
            <img src="~/images/tomekR.jpg" />
            <div class="peopleDescribe">
                Tomek<br />-Wokal-
            </div>
        </div>
</div>