@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row homeRow">
    <div class="col-md-3">
        <div class="homeSliderSquare">
            <img src="~/images/AndrzejR.jpg"/>
            <div class="peopleDescribe">
                Andrzej<br />-Manager-
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="homeSliderSquare">
            <img src="~/images/MonikaR.jpg" />
            <div class="peopleDescribe">
                Monika<br />-Wokal-
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="homeSliderSquare">
            <img src="~/images/AnetaR.jpg" />
            <div class="peopleDescribe">
                Aneta<br />-Altówka, Wokal-
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="homeSliderSquare">
            <img src="~/images/tomekR.jpg" />
            <div class="peopleDescribe">
                Tomek<br />-Wokal-
            </div>
        </div>
    </div>
</div>